.title {
  display:flex;
  background-color:white;
  width:125px;
  height:22px;
  text-align:center;
  margin-left:50%;
  transform:translateX(-50%);
  padding:20px;
  border-radius:15px;
  border: 2px solid black;
  font-family:trebuchet ms;
  font-size:5pt;
  margin-top:37px;
}

.stanza1 {
  display:flex;
  background-color:white;
  width:125px;
  height:84px;
  text-align:center;
  margin-left:50%;
  transform:translateX(-50%);
  padding:20px;
  border-radius:15px;
  border: 2px dotted black;
  font-family:trebuchet ms;
  font-size:5pt;
}

.stanza2 {
  display:flex;
  background-color:white;
  width:125px;
  height:84px;
  text-align:center;
  margin-left:50%;
  transform:translateX(-50%);
  padding:20px;
  border-radius:15px;
  border: 2px dotted black;
  font-family:trebuchet ms;
  font-size:5pt;
}

.stanza3 {
  display:flex;
  background-color:white;
  width:125px;
  height:84px;
  text-align:center;
  margin-left:50%;
  transform:translateX(-50%);
  padding:20px;
  border-radius:15px;
  border: 2px dotted black;
  font-family:trebuchet ms;
  font-size:5pt;
}

.stanza4 {
  display:flex;
  background-color:white;
  width:125px;
  height:84px;
  text-align:center;
  margin-left:50%;
  transform:translateX(-50%);
  padding:20px;
  border-radius:15px;
  border: 2px dotted black;
  font-family:trebuchet ms;
  font-size:5pt;
}

.image1 {
  display: none;
  position: fixed;
  top: 60px;
  left: -305px;
  height:180%;
  transform: translate(-50%, -50%);
}

.stanza1:hover .image1 {
  display:block;
}

.image2 {
  display: none;
  position: fixed;
  top: 50%;
  right: -630px;
  height:170%;
  transform: translate(-50%, -50%);
}

.stanza2:hover .image2 {
  display:block;
}

.image3 {
  display: none;
  position: fixed;
  top: 50%;
  left: -320px;
  height:180%;
  transform: translate(-50%, -50%);
}

.stanza3:hover .image3 {
  display:block;
}

.image4 {
  display: none;
  position: fixed;
  top: 15px;
  right: -650px;
  height:135%;
  transform: translate(-50%, -50%);
}

.stanza4:hover .image4 {
  display:block;
}
