a {
  text-decoration:none;
}

.q1 {
  top:0;
  left:0;
}

.q2 {
  right:0;
  top:0;
}

.q3 {
  bottom:0;
  left:0;
}

.q4 {
  bottom:0;
  right:0;
}

.projects {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:8px;
  right:8px;
  font-size:14pt;
  transition:.2s ease;
  align-items:center;
  justify-content:center;
  background-color:#F3EEE7;
  border:2px solid black;
}

.projects2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:1px;
  right:1px;
  /* border:2px black solid; */
  /* background-color:#F3EEE7; */
  z-index:-1;
}

.exercises {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:8px;
  left:8px;
  text-align:center;
  font-size:14pt;
  transition:.2s ease;
  align-items:center;
  justify-content:center;
  background-color:#F3EEE7;
  border:2px solid black;
}

.exercises2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:1px;
  left:1px;
  /* border:2px black solid; */
  z-index:-1;
  /* background-color:#F3EEE7; */
}

.readings {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  top:8px;
  right:8px;
  text-align:center;
  font-size:14pt;
  transition:.2s ease;
  align-items:center;
  justify-content:center;
  background-color:#F3EEE7;
  border:2px solid black;
}

.readings2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  top:1px;
  right:1px;
  /* border:2px black solid; */
  z-index:-1;
  /* background-color:#F3EEE7; */
}

.hw {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  border:2px solid black;
  top:15px;
  left:15px;
  text-align:center;
  font-family:prompt;
  font-size:14pt;
  color:black;
  animation: hw .2s ease;
  animation-fill-mode:forwards;
  align-items:center;
  justify-content:center;
  /* background-color:#F3EEE7; */
  box-shadow: -8px -8px black;
  background-color:#F3EEE7;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
}

.hw2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  top:1px;
  left:1px;
  /* background-color:#F3EEE7; */
  /* border:2px black solid; */
  z-index:-1;
}

.projects:hover {
  bottom:15px;
  right:15px;
  transition:.2s ease;
  box-shadow: 8px 8px black;
  background-color:#F3EEE7;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
}

.exercises:hover {
  bottom:15px;
  left:15px;
  transition:.2s ease;
  box-shadow: -8px 8px black;
  background-color:#F3EEE7;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
}

.readings:hover {
  top:15px;
  right:15px;
  transition:.2s ease;
  box-shadow: 8px -8px black;
  background-color:#F3EEE7;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
}

.q1,
.q2,
.q3,
.q4 {
  position:absolute;
  height:50vh;
  width:50vw;
}

.projects,
.exercises,
.readings {
  color: black;
  font-family:prompt;
}

.patternbox {
  position:absolute;
  /* border:1px blue solid; */
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:10;
  height:40.3%;
  width:50.2%;
  z-index:0;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
}

#patterncover {
  display:flex;
  background-color:#F3EEE7;
  height:76.5%;
  width:90%;
  top:50%;
  justify-content: center;
  align-items:center;
}
