a {
  text-decoration:none;
}

.handmade:hover {
  text-decoration:underline;
}

.shifting:hover {
  text-decoration:underline;
}

.rant:hover {
  text-decoration:underline;
}

.netart:hover {
  text-decoration:underline;
}

.websgrain:hover {
  text-decoration:underline;
}

.q1 {
  top:0;
  left:0;
}

.q2 {
  right:0;
  top:0;
}

.q3 {
  bottom:0;
  left:0;
}

.q4 {
  bottom:0;
  right:0;
}

.popup {
  position:absolute;
  /* border:2px solid purple; */
  height:3.8%;
  width:243px;
  left:50%;
  transform:translateX(-50%);
  bottom:0;
  padding:20px;
  font-family:prompt;
  font-size:14pt;
  color:#6092CD;
  display:none;
}

.list1 {
  position:absolute;
  display:flex;
  flex-direction:row;
  /* border:2px solid blue; */
  height:3.8%;
  width:75%;
  left:23.5%;
  bottom:22.1%;
}

.list2 {
  position:absolute;
  display:flex;
  flex-direction:row;
  /* border:2px solid blue; */
  height:3.8%;
  width:75%;
  left:23.5%;
  bottom:18.3%;
}

.handmade,
.shifting,
.rant,
.netart,
.websgrain {
  /* border:2px dotted blue; */
  font-family:prompt;
  font-size:14pt;
  color:#6092CD;
  text-align:right;
  z-index:1;
  opacity:0;
}

.handmade {
  animation:appear .2s ease;
  animation-fill-mode:forwards;
  animation-delay:.2s;
}

.shifting {
  animation:appear .2s ease;
  animation-fill-mode:forwards;
  animation-delay:.6s;
}

.rant {
  animation:appear .2s ease;
  animation-fill-mode:forwards;
  animation-delay:.8s;
}

.websgrain {
  animation:appear .2s ease;
  animation-fill-mode:forwards;
  animation-delay:1s;
}

.netart {
  animation:appear .2s ease;
  animation-fill-mode:forwards;
  animation-delay:.4s;
}

.projects {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  text-align:center;
  font-size:14pt;
  font-family:prompt;
  bottom:-1px;
  right:-1px;
  border:2px solid black;
  color:black;
  transition:.2s ease;
  align-items:center;
  justify-content:center;
}

.projects2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:-1px;
  right:-1px;
  background-color:#F16D53;
  border:2px #F16D53 solid;
  z-index:-1;
}

.exercises {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:-1px;
  left:-1px;
  text-align:center;
  font-size:14pt;
  transition:.2s ease;
  border:2px solid black;
  color:black;
  font-family:prompt;
  transition:.2s ease;
  align-items:center;
  justify-content:center;
}

.exercises2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  bottom:-1px;
  left:-1px;
  background-color:#F9C53E;
  border:2px #F9C53E solid;
  z-index:-1;
}

.readings {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  top:15px;
  right:15px;
  text-align:center;
  font-size:14pt;
  font-family:prompt;
  border:2px solid black;
  color:black;
  animation: readings .2s ease;
  animation-fill-mode:forwards;
  align-items:center;
  justify-content:center;
}

.readings2 {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  top:-1px;
  right:-1px;
  background-color:#6092CD;
  border:2px #6092CD solid;
  z-index:-1;
}

.hw {
  display:flex;
  position:absolute;
  height:40%;
  width:50%;
  border:2px solid black;
  top:-1px;
  left:-1px;
  text-align:center;
  font-family:prompt;
  font-size:14pt;
  color:black;
  transition:.2s ease;
  align-items:center;
  justify-content:center;
}

.hw:hover {
  top:15px;
  left:15px;
  transition:.2s ease;
  /* border:2px solid black;
  color:black; */
}

.projects:hover {
  bottom:15px;
  right:15px;
  transition:.2s ease;
  /* border:2px solid #FB5D42;
  color:#FB5D42; */
}

.exercises:hover {
  bottom:15px;
  left:15px;
  transition:.2s ease;
  /* border:2px solid #8951bd;
  color:#8951bd; */
}

.q1,
.q2,
.q3,
.q4 {
  position:absolute;
  height:50vh;
  width:50vw;
  /* border:2px solid grey; */
}

.projects,
.exercises {
  color: black;
  border:2px solid black;
  font-family:prompt;
}

/* @keyframes readings {
  0% {top:15px; right:15px}
  100% {top:-1px; right:-1px;}
} */

@keyframes appear {
  0% {opacity:0}
  100% {opacity:1}
}

@media screen and (max-width: 845px) {
  .rant, .netart, .websgrain, .handmade, .shifting {
    display:none;
  }

@media screen and (max-width: 862px) {
  .popup {
    display:block;
  }
