a {
  text-decoration:none;
}

.q1 {
  top:0;
  left:0;
}

.q2 {
  right:0;
  top:0;
}

.q3 {
  bottom:0;
  left:0;
}

.q4 {
  bottom:0;
  right:0;
}

.projects {
  position:absolute;
  height:40%;
  width:50%;
  bottom:-1px;
  right:-1px;
  text-align:center;
  font-size:14pt;
  line-height:109px;
  transition:.2s ease;
}

.exercises {
  position:absolute;
  height:40%;
  width:50%;
  bottom:-1px;
  left:-1px;
  text-align:center;
  font-size:14pt;
  line-height:109px;
  transition:.2s ease;
}

.readings {
  position:absolute;
  height:40%;
  width:50%;
  top:-1px;
  right:-1px;
  text-align:center;
  font-size:14pt;
  line-height:109px;
  transition:.2s ease;
}

.hw {
  position:absolute;
  height:40%;
  width:50%;
  background-color:black;
  border:2px solid black;
  top:-1px;
  left:-1px;
  text-align:center;
  font-family:prompt;
  font-size:14pt;
  color:#FFE3C8;
  line-height:109px;
}

.projects:hover {
  bottom:15px;
  right:15px;
  transition:.2s ease;
  border:2px solid #FB5D42;
  color:#FB5D42;
}

.exercises:hover {
  bottom:15px;
  left:15px;
  transition:.2s ease;
  border:2px solid #8951bd;
  color:#8951bd;
}

.readings:hover {
  top:15px;
  right:15px;
  transition:.2s ease;
  border:2px solid #019CB8;
  color:#019CB8;
}

.q1,
.q2,
.q3,
.q4 {
  position:absolute;
  height:50vh;
  width:50vw;
  /* border:2px solid grey; */
}

.projects,
.exercises,
.readings {
  color: black;
  border:2px solid black;
  font-family:prompt;
}
