body {
  margin:0;
}

p {
  position:relative;
  font-family:prompt;
  font-size:16pt;
}

.person1 {
  position:absolute;
  height:920px;
  left:-190px;
  bottom:-550px;
  z-index:0;
}

.person2 {
  position:absolute;
  height:770px;
  right:80px;
  bottom:-410px;
  z-index:1;
}

img.car1 {
  animation: drive1 2.8s linear infinite;
  animation-fill-mode:forwards;
  position:absolute;
  height:130px;
  bottom:60px;
}

img.car2 {
  animation: drive1 2.8s linear infinite;
  animation-fill-mode:forwards;
  animation-delay:.6s;
  left:1100px;
  position:absolute;
  height:120px;
  bottom:60px;
}

img.car6 {
  animation: drive1 2.8s linear infinite;
  animation-fill-mode:forwards;
  animation-delay:1.5s;
  position:absolute;
  left:1100px;
  bottom:60px;
  height:160px;
}

img.car5 {
  animation: drive1 2s linear infinite;
  animation-fill-mode:forwards;
  animation-delay:1.8s;
  position:absolute;
  left:1100px;
  bottom:140px;
  height:100px;
}

img.car3 {
  animation: drive1 2s linear infinite;
  animation-fill-mode:forwards;
  animation-delay:.7s;
  position:absolute;
  left:1100px;
  bottom:140px;
  height:150px;
}

img.car4 {
  animation: drive1 2s linear infinite;
  animation-fill-mode:forwards;
  animation-delay:1.2s;
  position:absolute;
  left:1100px;
  bottom:140px;
  height:100px;
}

img:hover {
  animation-play-state:paused;
}

.bigbox {
  position:fixed;
  display:flex;
  height:100vh;
  width:80vw;
  right:0;
}

.contentbox {
  position: relative;
  height:500px;
  width:700px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align:center;
  overflow:hidden;
}

.sidebar {
  position:fixed;
  display:flex;
  height:100vh;
  width:19.5vw;
  left:0;
}

.secbox {
  position: relative;
  display:flex;
  flex-direction:column;
  height:95%;
  width:93%;
  top:50%;
  left:53%;
  transform: translate(-50%,-50%);
}

.seclink {
  position:relative;
  border:1.5px black solid;
  height:30px;
  margin-bottom:19px;
}

.seclink:hover {
  background-color: black;
}

.bigbox,
.sidebar,
.secbox,
.contentbox {
  /* border:2px white solid; */
}

@keyframes drive1 {
  0% {left:1100px}
  100% {left:-600px}
}
