.header2 {
  color: red;
  background: lightpink;
  font-family: serif;
  font-size: 20px;
  margin-left:55px;
  margin-right:55px;
}

p {
  font-family:sans-serif;
  margin-left:55px;
  margin-right:55px;
}

img{
  width: 60%;
  margin:0 auto;
  display: block;
}
