.stanza1 {
  position: absolute;
  width: 210px;
  height: 210px;
  font-size: 11pt;
  color:yellowgreen;
  top:50%;
  left:260px;
  transform:translateY(-50%);
}

.stanza2 {
  position: absolute;
  width: 210px;
  height: 210px;
  font-size: 11pt;
  color:yellowgreen;
  top:50%;
  left:490px;
  transform:translateY(-50%);
}

.stanza3 {
  position: absolute;
  width: 210px;
  height: 210px;
  font-size: 11pt;
  color:yellowgreen;
  top:50%;
  left:720px;
  transform:translateY(-50%);
}

.stanza4 {
  position: absolute;
  width: 210px;
  height: 210px;
  font-size: 11pt;
  color:yellowgreen;
  top:50%;
  left:950px;
  transform:translateY(-50%);
}

.stanzacolor {
  position:absolute;
  display:flex;
  background:yellowgreen;
  height:80px;
  width:235px;
  transition: all .5s ease;
  font-family:cursive;
  font-size:40pt;
  text-align:center;
  color:#fff280;
}

.stanzacolor:hover {
  height: 527px;
  background: #fff280;
}
