.maincontainer {
  display:flex;
  flex-direction:row;
  position:absolute;
  /* background-color:white; */
  height:6200px;
  width:100%;
}

.scontainer{
  display:block;
  /* border:4px dotted white; */
  height:5500px;
  width:20%;
  top:300px;
  margin-top:-10px;
}

.s {
  position:sticky;
  /* background-color:white; */
  height:170px;
  width:100%;
  top:50%;
  transform: translateY(-50%);
}

.extra {
  /* background-color:white; */
  height:171px;
  width:100%;
  top:0;
}

p {
  font-family:Monaco;
  font-size:10pt;
  text-align:center;
}

h1 {
  font-family:Monaco;
  font-size:14pt;
  text-align:center;
  font-weight:bolder;
  text-transform:uppercase;
  color:seagreen;
}
