.box1 {
  background-color: darksalmon;
  height: 70px;
  width: 170px;
  margin: 0 auto;
  padding:50px;
  border: 5px double mistyrose;
}

.box2 {
  background-color: mistyrose;
  height: 220px;
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 5px double darksalmon;
}

.box3 {
  background-color: mistyrose;
  height: 220px;
  width: 430px;
  margin: 0 auto;
  padding: 50px;
  border: 5px double darksalmon;
}
