.maincontainer {
  position:absolute;
  height: 117px;
  width:123800px;
  font-family:arial black;
  font-size:120pt;
  text-transform: uppercase;
  /* background-color:honeydew; */
  color:crimson;
  top:50%;
  transform: translateY(-50%);
  margin:0;
}

.title {
  position:sticky;
  height:120px;
  width:1428px;
  /* background-color:linen; */
  left:10px;
}

.titlecontainer {
  position:absolute;
  height: 120px;
  width:123855px;
  font-family:arial black;
  font-size:75.5pt;
  text-transform: uppercase;
  /* background-color:mistyrose; */
  color:crimson;
  top:140px;
}
